@page
@model Web.Pages.Login.LoginModel
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link href="~/tasks/css/common.css" rel="stylesheet" />
    <link href="~/tasks/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="login">
        <div class="logo">
            <img src="~/tasks/images/logo.png" />
        </div>
        <div class="login_form">
            <ul class="user_name">
                <li></li>
                <li><input placeholder="请输入用户名" /></li>
            </ul>
            <ul class="user_pwd">
                <li></li>
                <li><input placeholder="请输入密码" /></li>
            </ul>
            <div class="login_submit">
            <p>登 录</p>
        </div>
        </div>
        <p class="register">
            <a href="#">还没有账号？立即注册</a>
        </p>
    </div>
</body>
</html>