.login {
    max-width: 750px;
    min-width: 320px;
    height: 100%;
    margin: 0 auto;
    background: url(../images/bgxianyu.png) no-repeat;
    background-size: cover;
}

    .login .logo {
        width: 100%;
        height: 50%;
        position: relative;
    }

        .login .logo img {
            width: 216px;
            position: absolute;
            left: 50%;
            bottom: 20px;
            transform: translate(-50%);
        }

    .login .login_form {
        width: 100%;
        height: 35%;
    }

        .login .login_form ul {
            margin-left: 15%;
            margin-right: 15%;
            height: 30%;
            position: relative;
        }

            .login .login_form ul li{
                background-color:white;
            }
            .login .login_form ul li input {
                border: none;
                width: 80%;
                height: 100%;
            }

        .login .login_form .user_name li:first-child {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 20%;
            height: 80%;
            border: 2px solid #ccc;
            border-right: none;
            border-top-left-radius: 2em;
            border-bottom-left-radius: 2em;
            background-color: white;
            background: url(../images/nicheng.png) no-repeat center center;
            background-color: white;
            background-size: 40% 40%;
            /*text-align: center;
            line-height: 80%;*/
        }

        .login .login_form .user_name li:last-child {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 80%;
            height: 80%;
            border: 2px solid #ccc;
            border-left: none;
            border-top-right-radius: 2em;
            border-bottom-right-radius: 2em;
        }

        .login .login_form .user_pwd li:first-child {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 20%;
            height: 80%;
            border: 2px solid #ccc;
            border-right: none;
            border-top-left-radius: 2em;
            border-bottom-left-radius: 2em;
            background: url(../images/mimas.png) no-repeat center center ;
            background-color:white;
            background-size: 40% 40%;
            /*text-align: center;
            line-height: 80%;*/
        }

        .login .login_form .user_pwd li:last-child {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 80%;
            height: 80%;
            border: 2px solid #ccc;
            border-left: none;
            border-top-right-radius: 2em;
            border-bottom-right-radius: 2em;
        }

        .login .login_form .login_submit {
            margin-top:10%;
            margin-left: 15%;
            margin-right: 15%;
            height: 25%;
            background:url(../images/blue_bgbutton.png) no-repeat center bottom;
            background-size:contain;
            position:relative;
        }
            .login .login_form .login_submit p {
                width: 100%;
                height: 65%;
                position:absolute;
                left:0;
                bottom:0;
                text-align: center;
            }
    .login .register {
        margin-top: 2rem;
        text-align: center;        
    }
    .login .register a{
        color:black;
    }